sudo: required
language: java
jdk:
- oraclejdk10
python:
- 3.4
services:
- docker
before_install:
- sudo apt-get -qq update
- sudo apt-get install python-pip python-dev build-essential
- sudo -H pip install --upgrade --force-reinstall pip==9.0.3
- sudo -H pip install awscli --upgrade
- sudo -H pip install dxpy --upgrade
- curl -s api.sdkman.io | bash
- source /home/travis/.sdkman/bin/sdkman-init.sh
- sdk list gradle
- sdk install gradle 4.8.1
- sdk default gradle 4.8.1
- mkdir ~/.aws
- printf "[genetraps]\naws_access_key_id="$AWS_ACCESS_KEY_ID"\naws_secret_access_key="$AWS_SECRET_ACCESS_KEY
  > ~/.aws/credentials
- printf "[profile genetraps]\nregion="$AWS_REGION"\noutput=json" > ~/.aws/config
- sudo curl -o /usr/local/bin/ecs-cli https://s3.amazonaws.com/amazon-ecs-cli/ecs-cli-linux-amd64-latest
- sudo chmod a+x /usr/local/bin/ecs-cli
script: "./travis-script.sh"
notifications:
  slack:
    secure: Akw/kwB4hyxb9tBpc6BCQeqEzkPmlUH52hgfmRL+JS3M+vAI3SFvoeSQveIgtxkrbhb3J2fsuyAHERA91/QdBv/dm+9urQjW3Koy4J27Je0YXpb7LDnKr5oRjTuQcB5pds8HTtMDcozjSmLsvOsctGx/mzPuyEFx7HBXKZn8fjboKL0tWHoDJJ9NekxZpTfiFRZdDCVrS2fLZJFBMFdHJZJiyxxRE8PQH4VoVf9WgCYGtnNCPoP5GeGx3mABwqR3b9mepvHBdkY+HRdylcFWK/04Oun1cUfOz2BtfTfd4LirEzx4+zDFZT6NWN8HZARhWbQKfFxDFfkeIDsUY2fP0FbVlyAdEMEpXScWoHVByfJqObEZPxuA/lORtVoJnRZ2osUEK6+8j8Gc0BUiNzsi+RN97VX0AGwXrvWE/nIiY8tK5dNt0K0gaNnA//8oVKYZXqQ9bZAgaq/H6/33Ca8/JIeFVy++OPlNk0XZHA9RVCr5IxRfjH9aneYNdvZhXZi5ulgxR6xtndYNCmWHfncUWTFTs817UC64eN0uRY7jG3qe8waHZQgJZ7xyQ4qcq5OmwWVISovddQ5BbL0e8z5hEnWV7uT7fO1CjPEBL0NF12Dc1A05Ji62mxJVJ9KRj7aYes0LmcfNBS9y42nZwN28Gun7mdKVSk0zeDSnnyS+Z0o=
